.profile {
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 36.25px 0 0 0;
    text-align: center;
    align-items: center;
}

@media (min-width: 768px) {
    .profile {
        max-width: 581px;
        flex-direction: row;
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .profile {
        max-width: 880px;
    }
}
