.popup__save {
  height: 50px;
  width: 358px;
  background-color: black;
  color: #fff;
  border: none;
  padding: 0;
  margin: 28px 36px 37px 36px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  transition: all .3s ease-in-out;
}

.popup__save:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 521px) {
  .popup__save {
    width: 238px;
    height: 46px;
    margin: 25px 22px 25px 22px;
  }
}