.header__logo {
    max-width: 142px;
    object-fit: contain;
    margin-bottom: 41px;
}

@media (max-width: 320px) {
    .header__logo {
        margin-left: 8px;
        margin-bottom: 31.6px;
        height: 24.4px;
        width: 103.74px;
    }
}