.profile__subtitle {
    margin: 0;
    padding-top: 16px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 320px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
    }
}