.popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -42px;
  right: -42px;
  background: transparent url(../../../images/Close_Icon.svg) center;
  background-size: cover;
  border: none;
  padding: 0;
  transition: all .3s ease-in-out;
}

@media (max-width: 320px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}