@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/root/__container/root__container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info-container/profile__info-container.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__add/profile__add.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__delete-button/element__delete-button.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__text/element__text.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like-button/element__like-button.css);
@import url(../blocks/element/__like-button/_active/element__like-button_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_type/popup_type_add_card.css);
@import url(../blocks/popup/_type/popup_type_edit-profile.css);
@import url(../blocks/popup/_type/popup_type_show-card.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__close-button/_type/popup__clode-button_type_profile.css);
@import url(../blocks/popup/__close-button/_type/popup__close-button_type_add-card.css);
@import url(../blocks/popup/__close-button/_type/popup__close-button_type_show-card.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__form/_type/popup__form_type_add-card.css);
@import url(../blocks/popup/__form/_type/popup__form_type_profile.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__info/popup__info.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__field/_text/popup__field_text_name.css);
@import url(../blocks/popup/__field/_text/popup__field_text_place.css);
@import url(../blocks/popup/__field/_text/popup__field_text_status.css);
@import url(../blocks/popup/__field/_text/popup__field_text_link.css);
@import url(../blocks/popup/__field/_type/popup__field_type_error.css);
@import url(../blocks/popup/__field-error/popup__field-error.css);
@import url(../blocks/popup/__field-error/_active/popup__filed-error_active.css);
@import url(../blocks/popup/__field-label/popup__field-label.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__image-container/popup__image-container.css);
@import url(../blocks/popup/__place-name/popup__place-name.css);



