.elements__list {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
    gap: 20px 17px;
    margin-top: 47.25px;
    max-width: 880px;
    justify-content: center;
    padding-left: 0;
    list-style-type: none;
}

@media screen and (max-width: 320px) {
    .elements__list {
        max-width: 282px;
        margin: 36px auto 0;
    }
}

