.popup__field {
  border-width: 0 0 1px 0;
  border-color: rgba(0, 0, 0, .2);
  border-style: solid;
  outline: none;
  width: 358px;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin:auto;
}
